<div class="container-fluid fixed-bottom bg-warning bg-opacity-10 h-2 bottom-0 end-0">
    <div class="row text-center bg-body-secondary">
        <div class="col-12">
            Copyright @BookStore 2023
        </div>
    </div>
</div>